.buttons {
  position: absolute;
  /*border: 5px solid;*/
  margin: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomButtons {
  position: absolute;
  /*border: 5px solid;*/
  margin: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.YT {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.YT:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.YT:active{
  opacity: 0.6;
}

.GH {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.GH:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.GH:active{
  opacity: 0.6;
}

.nice {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.nice:hover{
  background: linear-gradient(to right, #5e548e, #9f86c0, #be95c4, #e0b1cb);
  filter:blur(1px);
  box-shadow: 0px, 5px, 20px, linear-gradient(to right, #5e548e, #9f86c0, #be95c4, #e0b1cb);
  opacity: 0.8;
}

.nice:active{
  opacity: 0.6;
}

.TTV {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.TTV:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.TTV:active{
  opacity: 0.6;
}

.G {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.G:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.G:active{
  opacity: 0.6;
}

.AZ {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.AZ:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.AZ:active{
  opacity: 0.6;
}

.STM {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.STM:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.STM:active{
  opacity: 0.6;
}

.DC {
  background-color: rgb(73, 78, 83);
  border: rgb(53,57,62);
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: box-shadow 200ms;
  transition: opacity 200ms;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

.DC:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.DC:active{
  opacity: 0.6;
}

/* 
HAMBURGER MENU START
*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* HAMBURGER MENU END */


/*
.title {
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  text-align: center;
  width: 150px;
}
*/

/* PHONES */

@media (min-width: 700px) and (max-width: 1024px) {
  
  #menuToggle span
{
  display: block;
  width: 83px;
  height: 10px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

  #menu{
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li{
    padding: 10px 0;
    font-size: 62px;
  }

}

.foot {
  position: absolute;
  width: 100vw;
}

body {
  background-color: rgb(53,57,62)
}

html {
  height: 100%;
  width: 100vw;
  background: rgb(53,57,62);
}